<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon-16x16.png">
    <title>Go-Eco: Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="background"></div>
    <div class="banner">
        <div class="navbar">
            <a href="/"><img src="/img/logo.png" class="logo" alt="logo"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/getpoints">get points</a></li>
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/rewards">Rewards</a></li>
                <li class="login-signup"><a href="/login">Login</a> / <a href="/signup">Signup</a></li>
            </ul>
        </div>
        <div class="main">
            
            <input type="checkbox" id="chk" aria-hidden="true">
       
            <div class="Login">
            
            
                <form  action="/login" method="POST">
                    <h1>LOGIN</h1>
                
                    <input type="email" name="email" id="" placeholder="Email" required="true">
                
              
                    <input type="password" name="password" placeholder="Enter password" id="" required="true">
      
                    <p>Dont have an account? <a href="/signup">Create account</a></p>
                
                    <button type="submit">Login </button>

                </form>
            </div>
    
    </div>
    </div>
</body>
</html>
