<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon-16x16.png">
    <title>Go-Eco: Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <div class="background"></div>

    
    <div class="banner">
        
        <div class="container">
            
            <div class="back side">
                <div class="content">

                    <h1>GO-ECO</h1>
                    <p>Go-Eco is a platform that encourages eco-friendly actions by rewarding users with points for
                        completing green tasks. These points can be redeemed for eco-friendly rewards and users can compete
                        on our leaderboard.
                    </p>
                    <form method="POST" action="/profile">
                        <input type="submit" value="LOGOUT">
                    </form>
                </div>
            </div>
            <div class="front side">
                <div class="content">
                    <h1>Profile</h1>
                    <form>
                        <label class="type"> Name :</label>
                        <h3>
                            <%=`${user.first_name} ${user.last_name} `%>
                        </h3>
                        <label class="type"> E-mail :</label>
                        <h3>
                            <%=`${user.email}`%>
                        </h3>


                        <label class="type"> Points :</label>
                        <h3>
                            <%=user.points%>
                        </h3>
                    </form>
                    
                </div>
            </div>

        </div>
    </div>
</body>

</html>