<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-Eco:Signup</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="background"></div>
    <div class="banner">
        <div class="navbar">
            <a href="/"><img src="/img/logo.png" class="logo" alt="logo"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/getpoints">get points</a></li>
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/rewards">Rewards</a></li>
                <li class="login-signup"><a href="/login">Login</a> / <a href="/signup">Signup</a></li>
            </ul>
        </div>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">
       
            <div class="sign-up">
            
            
                <form action="/signup" method="POST">
                    <label for="chk" aria-hidden="true">SIGN UP</label>
                    <input type="text" name="first_name" placeholder="First name" required="true">
                    <input type="text" name="last_name" placeholder="Last name" required="true">
                    <input type="email" name="email" id="" placeholder="Email" required="true">
                
              
                    <input type="password" name="password" placeholder="password" id="" required="true">
                    <input type="password" name="c_password" placeholder=" Confirm password" id="" required="true">

                    <p>Already have an account? <a href="/login">Login here</a></p>
                    <button type="submit">Sign up </button>
                </form>
        </div>
    </div>
</body>
</html>