<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher</title>
</head>
<body>
    <h1>Your code</h1><br>
    <h2><%=code %></h2>
</body>
</html>