* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2.5px); 
    z-index: -1;
}

.banner {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    font-family: "Montserrat";
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
}

.navbar {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 0;
}

.logo {
    width: 135px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.login-signup a {
    margin: 0 5px;
}

.login-signup a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.login-signup a:hover::after {
    width: 100%;
}

.container {
    min-width: 700px;
    min-height: 400px;
    border-radius: 20px;
    position: relative;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
    margin-top: auto;
    margin-bottom: auto;
}



.content {
    transform: translatez(70px) scale(0.8);
    line-height: 1.5em;
}

.content h1 {
    position: relative;
    font-size: 50px;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
}

.content p {
    margin-top: 50px;
    line-height: 2em;
    font-size: 25px;
}

.content h1:before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    min-width: 700px;
    min-height: 400px;
    border-radius: 20px;
    position: relative;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
    margin: auto;
    text-align: center;
    color: #fff;
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
}


.type {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    text-align: left;
}

.textnstuff {
	margin-top: 3rem;
}

.back h1 {
    margin: 0;
    font-size: 40px;
}

form label,
form input {
    display: block;
    /* font-size: 18px; */
}

form input,
form textarea {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #444;
    padding: 5px;
    width: 100%;
    color: #fff;
}

form label {
    margin: 15px 0;
}

form input[type="submit"] {
    display: block;
    width: auto;
    font-size: 20px;
    margin: 10px auto;
	margin-bottom: 0;
    margin-top:2rem;
    padding: 10px 10px;
    border: 3px solid #555;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    position: fixed;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
}

.white-mode:hover {
    background-color: #fff;
    color: #122;
}