<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="img/favicon-16x16.png">
    <title>Go-Eco:Leaderboard</title>
</head>
<body>
    <div class="background"></div>
    <div class="banner">
        <div class="navbar">
            <a href="/"><img src="/img/logo.png" class="logo" alt="logo"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/getpoints">How to get points</a></li>
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/rewards">Rewards</a></li>
                <li class="login-signup"><a href="/login">Login</a> / <a href="/signup">Signup</a></li>
            </ul>
        </div> 
    </div>
    
</body>
</html>