<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
       
         <div class="Login">
            
            
            <form action="/">
                 <p>Login</p>
                
                <input type="email" name="email" id="" placeholder="Email or Username" required="">
                
              
                <input type="password" name="pswd" placeholder="Enter password" id="" required="">
      
           
                
                <button>Login </button>

            </form>
        </div>
        </div>
    </div> 
</body>
</html>
