<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackman_Project</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
       
        <div class="sign-up">
            
            
            <form action="/">
                <label for="chk" aria-hidden="true">Sign up</label>
               <P>(As Student)</P>
                <input type="text" name="text" placeholder="First name" required="">
                <input type="text" name="text" placeholder="last name" required="">
                <input type="email" name="email" id="" placeholder="Email" required="">
                
              
                <input type="password" name="pswd" placeholder="password" id="" required="">

                <input type="password" name="pswd" placeholder=" Confirm password" id="" required="">
                <button>Sign up </button>
            </form>
    </div>
</body>
</html>